ul.main-ul {
  float: right; }
  ul.main-ul > li > a {
    font-weight: bold; }

.logo {
  padding: 0; }
  .logo img {
    height: 80px;
    width: auto; }

.main-menu ul.main-ul {
  padding-left: 0; }

.courses_page .block-content h6 {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden; }

#contact-programme .status__success,
#contact-programme .status__failure,
#contact .status__success,
#contact .status__failure {
  padding-top: 20px;
  display: block; }

.footer-logo {
  height: 50px;
  width: auto; }
