---
---
@charset "UTF-8";

$color-brand:  #38beef;
$color-secondary:  #f89938;
$color-brand-light: lighten($color-brand, 10%);
$color-purple:  #673ab7; 
$color-green: #4caf50;
$color-grey: #bcaaa4;
$color-red: #dd2c00;
$white: #FFFFFF;

@import 'vendor/ionicons.min';
@import 'vendor/animate.min';
@import 'vendor/mislider';
@import 'vendor/mislider-skin-cameo';
@import 'vendor/owl.transitions';
@import 'vendor/owl.carousel';
@import 'vendor/font-awesome.min';
@import 'vendor/bootstrap';
@import 'vendor/slick';
@import 'main';


// Custom Styles
ul.main-ul{
    float: right;
    > li > a{
        font-weight: bold;
    }
}

.logo{
    padding: 0;
    img{
        max-height: 80px;
        width: auto;
    }
}


.main-menu{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#094458+0,ffffff+100 */
    background: rgb(9,68,88); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(9,68,88,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(9,68,88,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(9,68,88,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#094458', endColorstr='#ffffff',GradientType=1)"; /* IE6-9 */
    ul.main-ul{
        padding-left: 0;
        a{
            color: rgba(9,68,88,1);
        }
    }
}

.silder,
.call_to_action,
.breadcum,
.single-img img{
    border-bottom: 4px solid $color-secondary;
}

.breadcum {
    padding-bottom: 20px;
    padding-top: 100px;
    height: 350px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    h4, .pages{
        text-align: left;
    }
}

h1, h2, h3, h4, h5{
    color: #38beef;
    font-family: 'Roboto', sans-serif;
}

.rex-forms input,
.rex-forms textarea,
.rex-forms select{
    background-color: #cbe6f0;
}

#contact-programme,
#contact{
    .status__success,
    .status__failure{
        padding-top: 20px;
        display: block;
    }
}

.footer-logo{
    height: 50px;
    width: auto;
}

#products,
#popular_courses{
    .courses-img{
        display: block;
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        img{
            position: absolute;
            opacity: 0;
            visibility: hidden;
        }
        &:before{
            background: transparent;
        }
    }
    .content{
        padding: 6px 10px;
        height: 56px;
        line-height: 22px;
    }
}


footer{
    background: $color-brand;
    h3{
        font-weight: bold;
        padding-bottom: 10px;
    }
    a{
        text-decoration: underline;
    }
    li{
        list-style-type: none;
    }
    p, a, ul, li{
        color: $white !important;
    }
    .copyright{
        border-top: 1px solid $white;
    }
    .footer-description, .footer-section:first-child {
        margin-top: 20px;
        padding-top: 0;
        p{
            text-align: justify !important;
        }
    }
    .usefull-link{
        > li > a:hover{
            color: white !important;
            text-decoration: underline !important;
        }
    }
}

.About_Us{
    margin-top: 85px;
    z-index: 1;
    .about-content{
        padding: 4% 2%;
    }
}

.out_mission span {
    color: $color-secondary;
    .content-list li:before {
        color: $color-secondary;
    }
}

.course_detail{
    padding-top: 0px;
}

.silder{
    position: relative;
    .button-previous,
    .button-next{
        z-index: 10;
        position: absolute;
        color: white;
        font-size: 25px;
        line-height: 40px;
        height: 40px;
        font-family: Helvetica, sans-serif;
        text-align: center;
        background-color: transparent;
        border: 1px solid white;
        width: 40px;
        height: 40px; 
        border-radius: 5px;
        cursor: pointer;
        top: 50%;
        margin-top: -20px;
        display: none;
        opacity: 0;
        transition: all 0.4s;
    }
    .button-previous{
        left: 10px;
    }
    .button-next{
        right: 10px;
    }

    &:hover{
        .button-previous,
        .button-next{
            opacity: 1;
            &:hover{
                background-color: $color-brand;
                color: white;
                border-color: transparent;
            }
        }
    }
}

.slideshow{
    visibility: hidden;
    opacity: 0;
    &.slick-initialized{
        visibility: visible;
        opacity: 1;
    }
    .slide{
        background-size: cover !important;
        background-repeat: no-repeat !important;
        height: 504px;
        &.slick-current{
            .slide__text{
                .slide__text--wrapper{
                    .slide__title,
                    .slide__title .highlight-text,
                    .slide__description,
                    .slide__button{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
    .slide__text{
        display: table;
        height: 100%;
        width: 100%;
        .slide__text--wrapper{
            display: table-cell;
            vertical-align: middle;
            .slide__title{
                padding-left: 20%;
                padding-right: 20%;
                color: white;
                opacity: 0;
                visibility: hidden;
                transition: visibility 2s;
                .highlight-text{
                    color: $color-brand;
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 2s;
                }
                &.green{
                    .highlight-text{
                        color: $color-green;
                    }
                }
                &.red{
                    .highlight-text{
                        color: $color-red;
                    }
                }
                &.purple{
                    .highlight-text{
                        color: $color-purple;
                    }
                }
                &.grey{
                    .highlight-text{
                        color: $color-grey;
                    }
                }
            }
            .slide__description{
                padding-left: 20%;
                padding-right: 20%;
                margin-bottom: 40px;
                opacity: 0;
                visibility: hidden;
                transition: opacity 4s;
                p{
                    font-size: 24px;
                    line-height: 34px;
                    color: white;
                }
            }
            .slide__button{
                opacity: 0;
                visibility: hidden;
                transition: opacity 6s;
                padding-left: 20%;
                padding-right: 20%;
            }
        }
    }
}

.fiches{
    .row > div{
        height: 300px;
        margin-bottom: 20px;
    }
    .fiches-images-wrapper,
    .fiches-text-wrapper{
        height: 100%;
        display: table;
        width: 100%;
        .fiches-images,
        .fiches-text{
            display: table-cell;
            vertical-align: middle;
            height: 100%;
            p{
                text-align: justify;
            }
            img{
                margin: 0 auto;
                max-width: 100%;
                height: auto;
                max-height: 100%;
            }
        }
    }
}

.features-list{
    min-height: 400px;
    p{
        text-align: justify;
    }
}

.features-icon i{
    color: $color-brand;
}

.rex-btn-icon{
    background-color: $color-secondary;
    .rex-btn-text-icon{
        border-left: 1px solid lighten($color-secondary, 10%);
    }
    &.green{
        background-color: $color-green;
        .rex-btn-text-icon{
            border-left: 1px solid lighten($color-green, 10%);
        }
    }
    &.red{
        background-color: $color-red;
        .rex-btn-text-icon{
            border-left: 1px solid lighten($color-red, 10%);
        }
    }
    &.purple{
        background-color: $color-purple;
        .rex-btn-text-icon{
            border-left: 1px solid lighten($color-purple, 10%);
        }
    }
    &.grey{
        background-color: $color-grey;
        .rex-btn-text-icon{
            border-left: 1px solid lighten($color-grey, 10%);
        }
    }
}

.popular_courses{
    z-index: 1;
}

@media only screen and (max-width: 959px) {
    .main-menu{
        position: fixed;
        width: 100%;
        background: white;
        z-index: 1;
        + *{
            padding-top: 80px;
        }
    }
    .menu-mobile {
        padding: 28px 15px;
    }
    .menu-container{
        z-index: 3;
    }
    .logo{
        position: absolute;
        z-index: 1;
        padding-left: 40px;
        padding-right: 40px;
        height: 100%;
        img{
            max-height: 80px;
        }
    }

    .breadcum {
        padding-bottom: 20px;
        padding-top: 100px;
        h4, .pages{
            text-align: center;
        }
    }
    footer .footer-section{
        border: none;
        margin-bottom: 30px;
        p, ul, li, h6, .phone-number{
            display: block;
            text-align: center;
        }
    }

    .content .description{
        display: none;
    }

    .slideshow{
        .slide{
            height: 340px;
        }
        .slide__text .slide__text--wrapper{
            .slide__title{
                font-size: 30px;
                padding-left: 55px;
                padding-right: 55px;
                .highlight-text{
                    font-size: 20px;
                }
            }
            .slide__description{
               padding-left: 55px;
               padding-right: 55px; 
               p{
                   font-size: 15px;
               }
            }
            .slide__button{
                padding-left: 55px;
                padding-right: 55px;
                .rex-btn-text{
                    font-size: 12px;
                    padding: 0 15px;
                }
                .rex-btn-text-icon{
                    width: 30px;
                }
            }
        }
    }
}