---
---
@charset "UTF-8";

$color-brand:  #00b3ee;
$color-brand-light: lighten($color-brand, 10%);
$color-purple:  #673ab7; 
$color-green: #4caf50;
$color-grey: #bcaaa4;
$color-red: #dd2c00;
$white: #FFFFFF;

@import 'vendor/ionicons.min';
@import 'vendor/animate.min';
@import 'vendor/mislider';
@import 'vendor/mislider-skin-cameo';
@import 'vendor/owl.transitions';
@import 'vendor/owl.carousel';
@import 'vendor/font-awesome.min';
@import 'vendor/bootstrap';
@import 'vendor/slick';
@import 'main';


// Custom Styles
ul.main-ul{
    float: right;
    > li > a{
        font-weight: bold;
    }
}

.logo{
    padding: 0;
    img{
        height: 80px;
        width: auto;
    }
}

.main-menu ul.main-ul{
    padding-left: 0;
}

#contact-programme,
#contact{
    .status__success,
    .status__failure{
        padding-top: 20px;
        display: block;
    }
}

.footer-logo{
    height: 50px;
    width: auto;
}

#products,
#popular_courses{
    .courses-img{
        display: block;
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        img{
            position: absolute;
            opacity: 0;
            visibility: hidden;
        }
        &:before{
            background: transparent;
        }
    }
    .content{
        padding: 6px 10px;
        height: 56px;
        line-height: 22px;
    }
}

footer{
    background: $color-brand;
    h3{
        font-weight: bold;
    }
    a{
        text-decoration: underline;
    }
    li{
        list-style-type: none;
    }
    p, a, ul, li{
        color: $white !important;
    }
    .copyright{
        border-top: 1px solid $white;
    }
    .footer-description {
        padding-top: 0;
    }
}

.About_Us{
    .about-content{
        padding: 4% 2%;
    }
}

.silder{
    position: relative;
    .button-previous,
    .button-next{
        z-index: 10;
        position: absolute;
        color: white;
        font-size: 25px;
        line-height: 40px;
        height: 40px;
        font-family: Helvetica, sans-serif;
        text-align: center;
        background-color: transparent;
        border: 1px solid white;
        width: 40px;
        height: 40px; 
        border-radius: 5px;
        cursor: pointer;
        top: 50%;
        margin-top: -20px;
        display: none;
        opacity: 0;
        transition: all 0.4s;
    }
    .button-previous{
        left: 10px;
    }
    .button-next{
        right: 10px;
    }

    &:hover{
        .button-previous,
        .button-next{
            opacity: 1;
            &:hover{
                background-color: $color-brand;
                color: white;
                border-color: transparent;
            }
        }
    }
}

.slideshow{
    visibility: hidden;
    opacity: 0;
    &.slick-initialized{
        visibility: visible;
        opacity: 1;
    }
    .slide{
        background-size: cover !important;
        background-repeat: no-repeat !important;
        height: 504px;
        &.slick-current{
            .slide__text{
                .slide__text--wrapper{
                    .slide__title,
                    .slide__description,
                    .slide__button{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
    .slide__text{
        display: table;
        height: 100%;
        width: 100%;
        .slide__text--wrapper{
            display: table-cell;
            vertical-align: middle;
            .slide__title{
                padding-left: 20%;
                padding-right: 20%;
                color: white;
                opacity: 0;
                visibility: hidden;
                transition: visibility 2s;
                .highlight-text{
                    color: $color-brand;
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 2s;
                }
                &.green{
                    .highlight-text{
                        color: $color-green;
                    }
                }
                &.red{
                    .highlight-text{
                        color: $color-red;
                    }
                }
                &.purple{
                    .highlight-text{
                        color: $color-purple;
                    }
                }
                &.grey{
                    .highlight-text{
                        color: $color-grey;
                    }
                }
            }
            .slide__description{
                padding-left: 20%;
                padding-right: 20%;
                margin-bottom: 40px;
                opacity: 0;
                visibility: hidden;
                transition: opacity 4s;
                p{
                    font-size: 24px;
                    line-height: 34px;
                    color: white;
                }
            }
            .slide__button{
                opacity: 0;
                visibility: hidden;
                transition: opacity 6s;
                padding-left: 20%;
                padding-right: 20%;
            }
        }
    }
}

.features-list{
    min-height: 400px;
}

.rex-btn-icon{
    &.green{
        background-color: $color-green;
        .rex-btn-text-icon{
            border-left: 1px solid lighten($color-green, 10%);
        }
    }
    &.red{
        background-color: $color-red;
        .rex-btn-text-icon{
            border-left: 1px solid lighten($color-red, 10%);
        }
    }
    &.purple{
        background-color: $color-purple;
        .rex-btn-text-icon{
            border-left: 1px solid lighten($color-purple, 10%);
        }
    }
    &.grey{
        background-color: $color-grey;
        .rex-btn-text-icon{
            border-left: 1px solid lighten($color-grey, 10%);
        }
    }
}

.About_Us{
    margin-bottom: 85px;
    z-index: 1;
}
.popular_courses{
    z-index: 1;
}

@media only screen and (max-width: 959px) {
    .main-menu{
        position: fixed;
        width: 100%;
        background: white;
        z-index: 1;
        + *{
            padding-top: 100px;
        }
    }
    .menu-mobile {
        padding: 28px 15px;
    }
    .menu-container{
        z-index: 3;
    }
    .logo{
        position: absolute;
        z-index: 1;
        padding-left: 40px;
        padding-right: 40px;
    }
}