---
---
@charset "UTF-8";

$color-brand: #fbae39;
$color-brand-light: #FFC400;
$color-orange: #FB7D39;
$white: #FFFFFF;

@import 'vendor/ionicons.min';
@import 'vendor/animate.min';
@import 'vendor/mislider';
@import 'vendor/mislider-skin-cameo';
@import 'vendor/owl.transitions';
@import 'vendor/owl.carousel';
@import 'vendor/font-awesome.min';
@import 'vendor/bootstrap';
@import 'main';


// Custom Styles
ul.main-ul{
    float: right;
    > li > a{
        font-weight: bold;
    }
}

.logo{
    padding: 0;
    img{
        height: 80px;
        width: auto;
    }
}

.main-menu ul.main-ul{
    padding-left: 0;
}

#contact-programme,
#contact{
    .status__success,
    .status__failure{
        padding-top: 20px;
        display: block;
    }
}

.footer-logo{
    height: 50px;
    width: auto;
}

#products,
#popular_courses{
    .courses-img{
        display: block;
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        img{
            position: absolute;
            opacity: 0;
            visibility: hidden;
        }
        &:before{
            background: transparent;
        }
    }
    .content{
        padding: 20px 10px;
        .block-content h6{
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
            overflow: hidden;
        }
    }
}

footer{
    background: $color-orange;
    h3{
        font-weight: bold;
    }
    a{
        text-decoration: underline;
    }
    li{
        list-style-type: none;
    }
    p, a, ul, li{
        color: $white !important;
    }
    .copyright{
        border-top: 1px solid $white;
    }
}