---
layout: default
title: Contact
handle: contact
banniere: "/uploads/banniere_3.jpg"

---
{% include breadcrumbs.html %}

<!-- map section -->

<section class="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-md-9">

        <div class="rex-map">
                    <div id="googleMap"></div>
                  </div><!--/rx-map-->

      </div>
      <div class="col-md-3">
        <div class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="1s">
          <div class="title-section">
            <h3>Rejoignez-nous</h3>
            <p>Nous serions enchantés de vous rencontrer !</p>
          </div>
          <!-- <div class="media-link instructors-media-link">
            <a data-toggle="tooltip" data-placement="top" title="Go facebook Profile" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
            <a data-toggle="tooltip" data-placement="top" title="Go twitter Profile" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
            <a data-toggle="tooltip" data-placement="top" title="Go Google plus Profile" href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a>
            <a data-toggle="tooltip" data-placement="top" title="Go linkedin Profile" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
          </div> -->
          <!-- <div class="addres">
            <div class="addres-icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="addres-content address-phone">
              <a href="tel:+0015145186101">+1 (514) 518 6101</a></div><div class="addres-content address-phone"><br>
            </div>
          </div> -->
          <div class="addres">
            <div class="addres-icon">
              <i class="fa fa-home"></i>
            </div>
            <div class="addres-content">
              <p>{{ site.data.info.adresse.adresse }}, {{ site.data.info.adresse.ville }} ({{ site.data.info.adresse.province }}), <br>
								{{ site.data.info.adresse.code_postal }}, {{ site.data.info.adresse.pays }}
              </p>
            </div>
          </div>
        </div>
      </div>
      
      <!-- contact form -->
      <div class="col-md-12">
        <div class="wow fadeInUp animated contact-from" data-wow-duration="1s" data-wow-delay="1.5s">
          <h3>CONTACTEZ-NOUS !</h3>
          <form id="contact" class="rex-forms formspree-form" action="?" method="POST">
              <input type="hidden" name="_subject" value="Contact">
              <input type="hidden" name="_format" value="plain">
              <input type="hidden" name="_language" value="fr">
              <input type="text" name="_gotcha" style="display:none">
              <div class="form-group col-md-6">
                  <input type="text" class="form-control" name="nom" placeholder="Votre Nom*" required="">
                  <p class="error text-error" style="display: none;">Veuillez entrer votre nom.</p>
              </div>
              <div class="form-group col-md-6">
                  <input type="email" class="form-control" name="email" placeholder="Votre Courriel*" required="">
                  <p class="error text-error" style="display: none;">Veuillez entrer votre addresse courriel.</p>
              </div>
              <div class="form-group col-md-12">
                  <input type="text" class="form-control" name="reference" placeholder="Votre Référence">
                  <p class="error text-error" style="display: none;">Veuillez entrer votre référence.</p>
              </div>
              <div class="form-group col-md-12">
                  <select name="programme" class="form-control">
                    <option value="" selected="">-- Sélectionner le programme --</option>
                    {% for programme in site.programmes %}
                      <option value="{{ programme.title }}">{{ programme.title }}</option>
                    {% endfor %}
                  </select>
                  <p class="error text-error" style="display: none;">Veuillez entrer votre programme.</p>
              </div>
              <div class="form-group col-md-6">
                  <select name="classe" class="form-control">
                    <option value="" selected="">-- Sélectionner la classe --</option>
                    <option value="Primaire">Primaire</option>
                    <option value="6e">6e</option>
                    <option value="5e">5e</option>
                    <option value="4e">4e</option>
                    <option value="3e">3e</option>
                    <option value="2nd">2nd</option>
                    <option value="1er S">1er S</option>
                    <option value="1er ES/L">1er ES/L</option>
                    <option value="Terminale S">Terminale S</option>
                    <option value="Terminale ES/L">Terminale ES/L</option>
                  </select>
                  <p class="error text-error" style="display: none;">Veuillez entrer votre programme.</p>
              </div>
              <div class="form-group col-md-6">
                  <select name="matiere" class="form-control">
                      <option value="" selected="">-- Sélectionner la matière --</option>
                      <option value="Mathématiques">Mathématiques</option>
                      <option value="Physique-chimie">Physique-chimie</option>
                      <option value="Français">Français</option>
                      <option value="SES">SES</option>
                      <option value="Complément">Complément</option>
                  </select>
                  <p class="error text-error" style="display: none;">Veuillez entrer votre programme.</p>
              </div>
              <div class="form-group col-md-12">
                  <textarea class="form-control" name="message" placeholder="Votre Message*" rows="3" required=""></textarea>
                  <p class="error text-error" style="display: none;">Veuillez entrer votre message.</p>
              </div>
              <button class="rex-bottom-medium rex-btn-icon" type="submit">
                  <span class="rex-btn-text">Contactez nous</span>
                  <span class="rex-btn-text-icon"><i class="fa fa-arrow-circle-o-right"></i></span>
              </button>

              <p class="status__failure text-error" style="display: none;">Une erreur s'est produite. Veuillez réessayer.</p>
              <p class="status__success text-success" style="display: none;">Votre message a été envoyé!</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end -->