---
title: Programmes
layout: default
handle: programmes
banniere: "/uploads/6.jpg"

---
{% include breadcrumbs.html %}


<!-- courses_page -->

<section class="courses_page">
	<div class="container">
			
		<div id="products" class="row list-group">
			{% for programme in site.programmes %}
				<div class="item  col-sm-12 col-md-6 col-lg-4">
					<div class="block-content">
						
						<a class="courses-img" href="{{ programme.url }}" style="background-image: url('{% if programme.image %}{{ programme.image }}{% else %}/uploads/programme.png{% endif %}');">
							<img src="{% if programme.image %}{{ programme.image }}{% else %}/uploads/programme.png{% endif %}" alt="{{ programme.title | escape }}">
						</a>
						
						<div class="content">
							<a href="{{ programme.url }}"><h6>{{ programme.title }}</h6></a>
							<p class="description">{{ programme.content | strip_html | truncatewords: 20, '...' }}</p>
						</div>
					</div>
				</div>
			{% endfor %}	
		</div>

		<!-- end about list -->
		{% comment %} <div class="col-md-12 courses_page_btn2">
			<nav>
				<ul class="pagination">
					<li><a href="#" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-angle-left"></i></span></a></li>
					<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
				</ul>
			</nav>
		</div> {% endcomment %}
	</div>
</section>