<!-- Breadcum section -->

<section class="breadcum" style="background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('{{ page.banniere }}'), no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>{{ page.title }}</h4>
                <div class="pages">
                    <a href="/index.html">Accueil</a> 
                    <span>&#47;</span>
                    <a>{{ page.title }}</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Breadcum section -->