<!-- footer section
    ==================== -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-6 footer-section">
					<div class="footer-description">
						<img src="{{ site.data.info.logo_footer }}" alt="{{ site.title | escape }}" class="footer-logo">
						<p>{{ site.data.info.description_site }}</p>
						<!-- <div class="instructors-media-link">
							<a data-toggle="tooltip" data-placement="top" title="" href="https://www.facebook.com/" data-original-title="Go facebook Profile"><i class="fa fa-facebook"></i></a>
							<a data-toggle="tooltip" data-placement="top" title="" href="https://twitter.com/" data-original-title="Go twitter Profile"><i class="fa fa-twitter"></i></a>
							<a data-toggle="tooltip" data-placement="top" title="" href="https://plus.google.com/" data-original-title="Go Google plus Profile"><i class="fa fa-google-plus"></i></a>
							<a data-toggle="tooltip" data-placement="top" title="" href="https://www.linkedin.com/" data-original-title="Go linkedin Profile"><i class="fa fa-linkedin"></i></a>
						</div> -->
					</div>
				</div>
				<div class="col-md-3 footer-section">
					<h3>Contact</h3>
					<div class="address">
						<div class="office">
							<h6>Bureau</h6>
							<p>{{ site.data.info.adresse.adresse }}, {{ site.data.info.adresse.ville }} ({{ site.data.info.adresse.province }}), <br>
								{{ site.data.info.adresse.code_postal }}, {{ site.data.info.adresse.pays }}</p>
						</div>
						{%- if site.data.info.tel != '' -%}
							<div class="phone">
								<h6>Tel</h6>
								<div class="phone-number">
									<a href="tel:{{ site.data.info.tel }}">{{ site.data.info.tel }}</a><br>
								</div>
							</div>
						{%- endif -%}
					</div>
				</div>
				<div class="col-md-3 footer-section">
					<h3>À Propos</h3>
					<ul class="usefull-link">
						{% for link in site.data.menus.menu-principal.links %}
							<li><a href="{{ link.url }}">{{ link.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="row copyright">
				<div class="col-md-6">
					<p>Copyright &copy; {{ 'now' | date: '%Y' }} Les Clefs pour Réussir</p>
				</div>
				<!-- <div class="col-md-6">
					<p class="align-right"> <a href="https://www.revovision.ca">Revovision</a></p>
				</div> -->
			</div>
		</div>
	</footer>

    <script src="/js/vendor/jquery.min.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/vendor/owl.carousel.min.js"></script>
		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDh17lXQdM92aUOFg37vJo8fCkCzmmOm8c"></script>
		<script src="/js/vendor/parallax.js"></script>
		<script src="/js/vendor/slick.min.js"></script>
    <script src="/js/script.js"></script>

  </body>
</html>