<!-- Add your site or application content here -->
<!-- Navigation Html
=================== -->
<div class="main-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="logo">
                    <a href="/index.html">
                        <img class="img-responsive" src="{{ site.data.info.logo }}" alt="{{ site.title }}">
                    </a>
                </div>
                <div class="menu-container">
                    <div class="menu">
                        <ul class="main-ul">
                            {% for link in site.menus.menu_principal %}
                                {% assign link_handle = link.title | slugify %}
                                <li><a class="{% if page.handle == link_handle %} {{ link_handle }} active{% endif %}" href="{{ link.url }}">{{ link.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>