<!-- Add your site or application content here -->
<!-- Navigation Html
=================== -->
<div class="main-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="logo">
                    <a href="index.html">
                        <img class="img-responsive" src="/uploads/logo.png" alt="">
                    </a>
                </div>
                <div class="menu-container">
                    <div class="menu">
                        <ul class="main-ul">
                            <li><a class="active" href="index.html">Home</a></li>
                            <li><a href="a-propos.html">À Propos</a>
                            <li><a href="programmes.html">Programmes</a></li>
                            <li><a href="contact.html">Contact</a>
                        </ul>
                    </div>
                    <!-- <div class="menu-search" >
                        
                        <button id="test" class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        <div id="myNav" class="overlay">
                            <a href="javascript:void(0)" class="closebtn" id="closeNav">×</a>
                            <div class="search-input">
                                <input type="text" class="form-control" placeholder="What do you want to learn today?">
                                <button class="rex-bottom-medium rex-btn-icon search-btn" type="submit">
                                    <span class="rex-btn-text"><i class="fa fa-search"></i></span>
                                </button>  
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>