<!-- slider Html 
====================-->
<div class="silder">
    <div class="rex-slider">

        <!-- slider 1 -->
        <div class="slide-list" data-lazy-background="http://placehold.it/1903x760">
            <h1 data-pos="['0', '0']" data-duration="1000" data-effect="fadein">
                <span class="highlight-text">LEARN FROM THE BEST. </span>
                ANYTIME. ANYWHERE.
            </h1>
            <div class="slider-text" data-pos="['0', '0']" data-duration="700" data-effect="fadein">
                <p>Advance and build on existing skills with our <br>
                Professional Development programs</p>
            </div>
            <div class="slider-btn" data-pos="['0', '0']" data-duration="700" data-effect="fadein">
                <a href="#" target="_self" class="rex-bottom-medium rex-btn-icon">
                    <span class="rex-btn-text">learn more</span>
                    <span class="rex-btn-text-icon"><i class="fa fa-arrow-circle-o-right"></i></span>
                </a>
            </div>
        </div>    

        <!-- slider 2 -->
        <div class="slide-list slide-center" data-lazy-background="http://placehold.it/1903x760">
            <h1 data-pos="['0', '0']" data-duration="1000" data-effect="fadein">
                <span class="highlight-text">getting started </span><br>
                improve your skills
            </h1>                
            <div class="slider-btn" data-pos="['0', '0']" data-duration="700" data-effect="fadein">
                <a href="#" target="_self" class="rex-bottom-medium rex-btn-icon">
                    <span class="rex-btn-text">Check out</span>
                    <span class="rex-btn-text-icon"><i class="fa fa-arrow-circle-o-right"></i></span>
                </a>
            </div>
        </div>    

        <!-- slider 3 -->
        <div class="slide-list slider-last-child" data-lazy-background="http://placehold.it/1903x760">
            <h1 data-pos="['0', '0']" data-duration="1000" data-effect="fadein">
                Online course
            </h1>
            <div class="slider-text" data-pos="['0', '0']" data-duration="700" data-effect="fadein">
                <p>Start a creative and exciting career with <br>
                our online programs</p>
            </div>
            <div class="slider-btn" data-pos="['0', '0']" data-duration="700" data-effect="fadein">
                <a href="#" target="_self" class="rex-bottom-medium rex-btn-icon">
                    <span class="rex-btn-text">learn more</span>
                    <span class="rex-btn-text-icon"><i class="fa fa-arrow-circle-o-right"></i></span>
                </a>
            </div>
        </div>    
    </div>
</div>