<!-- slider Html 
====================-->
<div class="silder">
    <div class="rex-slider">

        {% for slide in page.slides %}
            <!-- slider 1 -->
            <div class="slide-list {% if slide.alignement == 'centre' %}slide-center{% endif %} {% if forloop.last %}slider-last-child{% endif %}" data-lazy-background="{% if slide.image == undefined %}http://placehold.it/1903x760{% else %}{{ slide.image }}{% endif %}">
                <h1 data-pos="['0', '0']" data-duration="1000" data-effect="fadein">
                    {% if slide.sous-titre %}<span class="highlight-text">{{ slide.sous-titre }} </span>{% endif %}
                    {{ slide.titre }}
                </h1>
                <div class="slider-text" data-pos="['0', '0']" data-duration="700" data-effect="fadein">
                    <p>{{ slide.description | newline_to_br | trim }}</p>
                </div>
                <div class="slider-btn" data-pos="['0', '0']" data-duration="700" data-effect="fadein">
                    <a href="{{ slide.lien_boutton }}" target="_self" class="rex-bottom-medium rex-btn-icon">
                        <span class="rex-btn-text">{{ slide.texte_boutton }}</span>
                        <span class="rex-btn-text-icon"><i class="fa fa-arrow-circle-o-right"></i></span>
                    </a>
                </div>
            </div>

        {% endfor %}    
 
    </div>
</div>