{% include header.html %}

    {% include main-menu.html %}
	<!-- Breadcum section -->

	<section class="breadcum" style="background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('/uploads/a-propos.jpg'), no-repeat;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h4>À Propos</h4>
					<div class="pages">
						<a href="/index.html">Accueil</a> 
						<span>&#47;</span>
						<a href="a-propos.html">À Propos</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- End Breadcum section -->

	{{ content }}


{% include footer.html %}
