{% include header.html %}

    <main class="rex-main-content">

        {% include main-menu.html %}

        <!-- Breadcum section -->

        <section class="breadcum" style="background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8) ), url('{{ page.image }}'), no-repeat; background-position: center; background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>{{ page.title }}</h1>
                        <div class="pages">
                            <a href="/index.html">Accueil</a> 
                            <span>&#47;</span>
                            <a href="/blog.html">Blog</a>
                            <span>&#47;</span>
                            <a>{{ page.title }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Single courses img section
        <div class="single-img">
            <img class="img-responsive" src="{% if page.image %}{{ page.image }}{% else %}/uploads/programme.png{% endif %}" alt="{{ page.title | escape }}">
        </div>end -->
        
        <!-- course_detail -->
        
        <section id="article" class="course_detail">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
        
                        <!-- description section -->
                        <div class="description">

                            {{ page.content | markdownify }}
                            
                        </div><!-- end -->
                    </div>
                </div>
            </div>
        </section>

    </main>  

{% include footer.html %}

