{% include header.html %}

    <main class="rex-main-content">

        {% include main-menu.html %}

        <!-- Breadcum section -->

        <section class="breadcum" style="background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('/uploads/programme.jpg'), no-repeat;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4>{{ page.title }}</h4>
                        <div class="pages">
                            <a href="/index.html">Accueil</a> 
                            <span>&#47;</span>
                            <a href="/programmes.html">Programmes</a>
                            <span>&#47;</span>
                            <a>{{ page.title }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- course_detail -->
        
        <section class="course_detail">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <!-- title section -->
                        <div class="sidebar-title-section">
                            <h2>{{ page.title }}</h2>
                        </div><!-- end -->
        
                        <!-- Single courses img section -->
                        <div class="single-img">
                            <img class="img-responsive" src="{% if page.image %}{{ page.image }}{% else %}/uploads/programme.png{% endif %}" alt="{{ page.title | escape }}">
                        </div><!-- end -->
        
                        <!-- description section -->
                        <div class="description">
                            <h4>DESCRIPTION</h4>

                            {{ page.content | mardownify }}
                            
                        </div><!-- end -->
        
                        <!-- Share Section -->
                        <div class="share_section">
                            <div class="col-md-6">
                                <a href="#" target="_self" class="rex-bottom-medium rex-btn-icon">
                                    <span class="rex-btn-text">Contactez nous</span>
                                    <span class="rex-btn-text-icon"><i class="fa fa-arrow-circle-o-right"></i></span>
                                </a>
                            </div>
                            <!-- <div class="col-md-6">
                                <div class="media-section">
                                    <h6>SHARE THIS COURSE</h6>
                                    <div class="instructors-media-link">
                                        <a data-toggle="tooltip" data-placement="top" title="Go facebook Profile" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                        <a data-toggle="tooltip" data-placement="top" title="Go twitter Profile" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                        <a data-toggle="tooltip" data-placement="top" title="Go Google plus Profile" href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a>
                                        <a data-toggle="tooltip" data-placement="top" title="Go linkedin Profile" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div> -->
                        </div><!-- end -->
                        <div class="clearfix"></div>
                        <div class="review">
                            <h4>Course Reviews</h4>
                            <div class="comments">
                                <div class="comments-img">
                                    <img src="http://placehold.it/82x82" alt="">
                                </div>
                                <div class="comments-content">
                                    <div class="comments-title">
                                        <h6>Ahmed Diaa</h6>
                                        <span>2 weeks ago</span>
                                    </div>
                                    <div class="rating">
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aene <br>
                                    an sollicitudin, lorem quis bibendum</p>
                                </div>
                            </div>
                            <div class="comments">
                                <div class="comments-img">
                                    <img src="http://placehold.it/82x82" alt="">
                                </div>
                                <div class="comments-content">
                                    <div class="comments-title">
                                        <h6>Ahmed Diaa</h6>
                                        <span>2 weeks ago</span>
                                    </div>
                                    <div class="rating">
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aene <br>
                                    an sollicitudin, lorem quis bibendum</p>
                                </div>
                            </div>
                            <div class="comments">
                                <div class="comments-img">
                                    <img src="http://placehold.it/82x82" alt="">
                                </div>
                                <div class="comments-content">
                                    <div class="comments-title">
                                        <h6>Ahmed Diaa</h6>
                                        <span>2 weeks ago</span>
                                    </div>
                                    <div class="rating">
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aene <br>
                                    an sollicitudin, lorem quis bibendum</p>
                                </div>
                            </div>
                        </div>
        
                        <div class="review-form">
                            <div class="review-form-title">
                                <h4>Write a review</h4>
                            </div>
                            <p>Your Rating</p>
                            <div class="select-rating">
                                <i class="fa fa fa-star-o"></i>
                                <i class="fa fa fa-star-o"></i>
                                <i class="fa fa fa-star-o"></i>
                                <i class="fa fa fa-star-o"></i>
                                <i class="fa fa fa-star-o"></i>
                            </div>
                            <form class="rex-forms">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control"  placeholder="Your Name">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="email" class="form-control" placeholder="Your Email">
                                </div>
                                <div class="form-group col-md-12">
                                    <textarea class="form-control" placeholder="Your Review" rows="3"></textarea>
                                </div>
                                <button class="rex-bottom-medium rex-btn-icon">
                                    <span class="rex-btn-text">post review</span>
                                    <span class="rex-btn-text-icon"><i class="fa fa-arrow-circle-o-right"></i></span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>  

{% include footer.html %}

